<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cost.mapper.CostFeeMapper">

    <select id="selectCostFee" resultType="com.cost.domain.CostFee">
        SELECT * FROM t_inf_p_cost_fee
        <where>
            <if test="lineId != null">
                AND line_id = #{lineId}
            </if>
            <if test="costDocId != null">
                AND cost_doc_id = #{costDocId}
            </if>
            <if test="feeDocId != null">
                AND fee_doc_id = #{feeDocId}
            </if>
        </where>
        AND status = 0
        ORDER BY order_num;
    </select>
</mapper>